
.header {
    width: 100%;
    padding: 2%;
    background-color: grey;
    color: #000;
    text-align: center;
    position: fixed;
    top: 0px;
    height: 50px;
}

.card_container {
    margin-top: 70px;    
    padding: 8px;
    display: grid;
    grid-template-columns: auto;
    justify-items: center;

}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 300px;
    margin-top: 20px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .card > .container {
    padding: 2px 16px;
    margin-bottom: 16px;
  }
  .card > .card_info {
    display: flex;
    justify-content: space-between;
  }
  .card > .img {
    width: 100%;
  }

  .button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
  }
  

@media screen and (min-width: 768px) {
    .card_container {
        padding: 32px;
        grid-template-columns: auto auto auto auto;
    }
}
